mat-card {
  margin: 10px;
  width: 400px;
  height: fit-content;
}
.normal {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.special {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-style: oblique;
  text-decoration: underline overline;
}
.header {
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
  height: auto;
}
.read {
  background-color: rgba(211, 211, 211, 0.2);
}
.unread {
  background-color: rgba(190, 230, 173, 0.3);
}
